@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: blue;
    /* width: 100%; */
    padding: 20px 0;
}
.header-container{
    color: white;
    margin: 0 auto;
    text-align: center;
}
nav{
    background: rgb(77, 77, 255);
    /* width: 100%; */
    overflow: hidden;
}
.nav-container ul{
    list-style: none;
}
.nav-container ul li{
    float: left;
    padding: 5px 20px;
}
.nav-container a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}
.nav-container ul li:hover{
    background-color: gray;
}
section{
    background: skyblue;
    height: 500px;
}
section h2{
    text-align: center;
    padding: 20px;
}
section table{
    border: 1px solid black;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
    width: 98%;
}
.b{
    color: white;
}
section th{
    border: 1px solid black;
    margin: 10px;
    padding: 1px;
}
section td{
    border: 1px solid black;
    margin: 10px;
}
.a{
    width: 500px;
}