@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('../img/bg.png');
}
/* header */
header{
    background: #000;
}
.header-container{
    margin: 0 auto;
    width:100%;
    padding: 30px 20px 10px 20px;
}
.header-logo{
    background: url('../img/logo.png') no-repeat;
    width: 200px;
    height: 44px;
    background-size: 200px 44px;
}
/* nav */
nav{
    background: #000;

}
.nav-container{
    margin: 0 auto;
    width: 96%;
}
.globalnav{
    overflow: hidden;
    list-style: none;
    display: flex;
}
.globalnav li{
    width: 20%;
}
.globalnav li a{
    display: block;
    padding: 10px 0;
    border-bottom: 8px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
}
.globalnav li a:hover{
    border-bottom: 8px solid yellowgreen;
    color: yellowgreen;
}
/* main */
.main-container{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background: white;
}
.sidebar{
    float: left;
    width: 20%;
    padding: 20px;
}
.maincol{
    float: left;
    width: 60%;
    margin-top: 10px;
}
.map{
    float: right;
    width: 20%;
    margin-top: 20px;
}
/* 1컬럼 */
.sidebar h1{
    font-size: 36px;
    color: yellowgreen;
    margin-bottom: 20px;
}
.subnav{
    list-style: none;
    border-top: 1px dashed #dadada;
}
.subnav li{
    border-bottom: 1px dashed #dadada;
    padding: 20px;
}
.subnav li a{
    text-decoration: none;
    color: black;
}
.subnav li a:hover{
    color: yellowgreen;
}
/* 2컬럼 */
.news h2{
    font-size: 34px;
    margin-bottom: 20px;
}
.news-contents{
    list-style: none;
}
.news-contents li{
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border: 1px solid #dadada;
}
.news-contents li img{
    float: left;
    margin-right: 10px;
}
/* footer */
.footer-container{
    margin: 0 auto;
    width: 100%;
    background: black;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.copyright{
    color: white;
}
/* 3컬럼 */
.map h3{
    width: 180px;
    padding: 10px;
    background-color: yellowgreen;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.map img{
    width: 180px;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.map p{
    width: 200px;
    padding: 10px 0;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .main-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .sidebar{
        width: 100%;
    }
    .maincol{
        width: 100%;
    }
    .map{
        width: 100%;
    }
}
@media screen and (max-width:992px) {
    
}